{erl_first_files, ["src/pt1_srv_transform.erl"]}.
{erl_opts, [debug_info]}. 
%% {erl_opts, [debug_info, {parse_transform, pt1_srv_transform}]}.
{deps, [
        {gproc, "0.6.1"},
        {parse_trans, "3.0.0"}
       ]}.
{profiles, [
            {abstract, [
                        {erl_opts, [dpp]}
                       ]},
            {parsed, [
                      {erl_opts, ['P']}
                     ]}
           ]
}.
